.dashboard-container {
  padding: 50px 80px;
  background: #f8fafc;
  min-height: 100vh;
  color: #1a237e;
  font-family: "Inter", sans-serif;
}

.dashboard-title {
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 40px;
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 22px;
}

.stat-card {
  background: white;
  padding: 30px 20px;
  border-radius: 16px;
  border: 1px solid #e6e9ef;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.04);
  transition: 0.25s ease-in-out;
  text-align: left;
}

.stat-card:hover {
  transform: translateY(-5px);
  border-color: #90caf9;
  box-shadow: 0px 4px 14px rgba(144, 202, 249, 0.35);
}

.stat-card h3 {
  font-size: 0.95rem;
  font-weight: 500;
  color: #607d8b;
}

.stat-card p {
  font-size: 1.7rem;
  font-weight: 600;
  margin-top: 12px;
  color: #1a237e;
}

.chart-section {
  margin-top: 60px;
}

.chart-section h2 {
  text-align: left;
  margin-bottom: 18px;
  font-size: 1.5rem;
  font-weight: 600;
}

.chart-placeholder {
  width: 100%;
  height: 340px;
  background: white;
  border-radius: 16px;
  border: 1px solid #e6e9ef;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.04);

  display: flex;
  justify-content: center;
  align-items: center;
  color: #9aa5b1;
  font-size: 1.1rem;
}
@media (max-width : 992px) {
  .stats-grid {
    grid-template-columns: repeat(2 , 1fr);
  }
  .chart-placeholder {
    height: 300px;
  }
}
@media (max-width:576px) {
  .stats-grid{
    grid-template-columns: 1fr;
  }
}